body{
    background-color: whitesmoke;
    font-family: 'Baloo Bhaina 2', cursive;
}

.container {
    position: relative;
    text-align: center;
    color: white;
  }

.bottom-left {
    position: absolute;
    bottom: 8px;
    left: 16px;
}

#media-body-just-completed{
    flex-grow: 1;
    color:green;
    font-size: smaller;
}

#media-body-activity {
    width: 100px;
}

#media-body-time {
    float:right ;
}
