{% extends 'layouts.html' %}
{% block content %}
<!DOCTYPE html>
<html>
<link href="https://fonts.googleapis.com/css2?family=Baloo+Bhaina+2:wght@600&display=swap" rel="stylesheet">
<link rel="stylesheet" href="home.css">
<head>
	<div class="container">
		<img src="../images_and_graphics/mountain_banner.jpg" alt="landscape_banner" style="width:100%;height:300px">
		<div class="bottom-left">
			<h1>Home Page </h1>
			<p> entry by </p>
		</div>
	  </div>
</head>
<body>
		<div class="userCalendar">
		<h2>My Schedule today:</h2>
		<!-- over here place the iframe -->
		<div id="userCalendar-frame">
			<!--calendar iframe here -->
			
		</div>
	</div>

	<div id="twitterStream">
		<a class="twitter-timeline" href="https://twitter.com/TwitterDev/timelines/539487832448843776?ref_src=twsrc%5Etfw">National Park Tweets - Curated tweets by TwitterDev</a> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script> 
	</div>
</body>

</html>

{% endblock content %}